@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Poppins:wght@300;400;700&display=swap');
section.header-inedx{
    background-image: url("images/2a3db72223ef32e61c5e1743c5748a04.png");
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-size: cover;  
}

.header {
    min-height: 100vh;
    width: 100%;
    
}
.header-location {
    /* min-height: 100vh; */
    width: 100%;
    
}
nav.nav{
    top: 0;
    left: 0;
    background-color: rgba(53, 44,40,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: sticky;
}
.nav a{
    text-decoration: none;
    color: #fff;
}

.homi{
    width: 90%;
    color: rgb(253, 251, 251);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    
}
.homi h4{
    color: rgb(113, 104, 104);
    font-size: 20px; 
    font-family: 'IBM Plex Sans', sans-serif; 
    margin-bottom: 1px; 
}

.homi h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 1px;
    margin-bottom: 20px;
}
.homi p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #f6f5f4;
    font-size:19px;
    margin-top: 20px;
}
.homi button{
    background-color: #B77E66;
    width: 210px;
    height: 50px;
    border-radius: 10px; 
    
}
.homi .button a{
text-decoration: none;
color: #fff;
font-size: 16px; 
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/*about*/

.about{
    background-image: url('images/image 7.png');
   background-position: center;
   height: 80vh;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover; 
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   text-align: center; 
 }
 .about h3{
 color: #471E22;;
 font-family: sans-serif;
 font-size: 21px;
 font-style: normal;
 font-weight: 600;
 line-height: normal;
 
 }

 .text{
 
     display: flex;
     flex-direction: column;
    justify-content: flex-end; 
    margin-left: 50%;
    margin-top: -10%;
 }
.text p {
     margin: 0; 
     color:#533B2F;
     font-family: sans-serif;
} 
.text button {
    background-color: #c18870;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 50%;
    width: 170px;
    height: 40px;
    border-radius: 10px;
}
.btn{
    color: #f6f5f4;
    font-size: 17px;  
}

/*opening-hour*/
.opening_hour{
    background-image: url("images/image 4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Irish Grover';
    
}


.contaire_herue{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 80px;
}

.contaire_herue p{
    font-size: 25px;
    color: #ffff;
    
}
.somaine{
margin-bottom: 6px;
}
.text-hour{
border-radius: 20px;
background: rgba(34, 27, 24, 0.60);
color: #FFF;
padding: 34px 44px;
font-size: 30px;
font-weight: 400;
font-family: 'Irish Grover';


}
.herue{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    width: 30%;
    flex-wrap: wrap;
    margin-top: 10px;
}

/*MENU*/

.menu-box{
    top: 0;
    left: 0;
    background-image: url("images/image 6home_menu.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content:center;
}
.menu-box h1{
    color: #903711;
    font-family: 'Courier New', Courier, monospace;
     
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    margin-top: 0%
    
}
.menu-box h4{
    color: rgb(117, 74, 45);
    font-size: 30px;
    margin-right: 78%;
    text-decoration: underline;
    
}

.menu-box .menu1{
    margin: 4% 4% 0 4%;
    display: flex;
    justify-content: space-between;
    
    
}
.menu-box .row{
    flex-basis: 22%;
    background:rgba(88, 49, 21, 0.8);
    width: 200px;  
    margin-bottom: 50px;
    border-radius: 20px;      
    display: flex;
    display: inline-block;
    color: white; 
    
}
img{
    margin: 10px 10px ; 
    width: 90%;
    height: 30%;
    border-radius: 20px; 

}
.row h3{
    font-size: 27px;
    margin-right: 30%;
    
}
.row p{
    font-size: 17px;
    
}
.row h5{
    color: #fff;
    font-size: 20px;
}
/*avis*/
.opnion-home{
    top: 0;
    left: 0;
    background-image: url("images/top-view-bowls-with-coffee-beans-powder 1.png"); 
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content:center;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
    
}
#line{
    width: 400px;
    height: 2px;
    background-color: #CBCBCB;
    
}
.opnion-home .lines p{
    color: #f7f4f3;
    text-align: center;
    font-size: 40px;


}


.opinion-txt-box{
    margin: 4%;
    display: flex;
    justify-content: space-between;  
}
.opinion-text{
    
    background:rgba(88, 49, 21, 0.6); 
    margin-bottom: 50px;      
    display: flex;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 50px;
    margin-left:100px ;
    color: white;
  
}
.opinion-txt-box h3{
    color: rgb(21, 186, 21);
}
/*map*/
.map-home{
    height: 400px;
}

.map-home.map_container {
    height: 100%;
    
}
.local{
    margin-left: 30px;
}


iframe{
    border:5px solid #795341;
    
}
/* footer*/
.for-home{
    background-image: url("images/image 9.png");
    width: 100%;
    height: 80vh;
    position: relative;
  }
  .dark {
    width: 100%;
    height: 100%;
    background: rgba(29, 23, 20, 0.84);
    position: absolute;
  }
  
  .contact-dark {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .background {
    background: transparent;
    color: white;
    padding: 20px;
    display: flex;
    gap: 280px;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    position: relative;
    
    
}  
  .list-groupy ul{
   margin-bottom: 300px;
  }
  .list-group li{
    padding-bottom: 10%; 
     
  }
  .list-groupy li{
    padding-bottom: 40%; 
     
  }
  .contact-group{
    padding-bottom: 30px;
  }
  .contact-group li{
    padding-bottom: 4%;
  }

  .background{
    margin-left: -10%;
  }

  .contact-groupy ul{
    margin-top:0px;
    margin-bottom: 500px;
  }
  .contact-groupy li{
    padding-bottom: 10%;
  }
  .contact-group a{
    text-decoration: none;
    color: #fff;
  }
  .list-group a{
    text-decoration: none;
    color: #fff;
  }
  .contact-groupy a{
    text-decoration: none;
    color: #000000;
  }
  .list-groupy a{
    text-decoration: none;
    color: #000000;
  }
  li {
    list-style: none;
  }
  



  section.header .menu_link ul{
    display: flex;
    
  }

  section.header .menu_link ul li a{
    margin: 0 20px;

  }
  section.header-location .menu_link ul{
    display: flex;
    
  }

  section.header-location .menu_link ul li a{
    margin: 0 20px;

  }
  .logo{
    width: 100px;
}
  .nav{
    margin-top: 10px;
  }


section.heder-menu{
    background-image: url(images/pexels-pixabay-261434.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top;
}


section.heder-menu .cadre_milieu{
    width: 80%;
    margin: auto;
    padding-top: 3rem;
}
section.heder-menu .cadre_milieu .articles h2{
        text-align: center;

}

section.heder-menu .cadre_milieu .articles{
    display: flex;
    background-color: #734A39;
    color: #fff;
    justify-content:center ;
    gap: 30px;
    border-radius: 10px;
    padding: 2em;
}
.ourmenu{
    color: #BB760F;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 200px;
    margin-top: -100px;

}
.map-homi{
    background-color: #B77E66;
    height: 500px;
    padding-top: 140px;
}
.for-homi{
    background-image: url("images/dating-rest-love-valentines-day-valentine 1.png");
    background-size:cover;
    width: 100%;
    height: 1000px;
    position: relative;
}
.visit_us{
    color: #825209;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 440px;
    margin-top: -200px;

}
.adress{
    margin-left: 50px;
    font-size: 20px;
}